
h2{
    text-align: center;
}
.container-1, .container-2, .container-3{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;   
}
.flex-box-container-1, .flex-box-container-2 , .flex-box-rps {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    margin: 0em 10em  0em 10em;
}

.flex-box-container-2 img {
   width: 20%;
   height: 20%;
   padding: 10px;
}

.flex-box-rps img{
    height: 150px;
    width: 150px;
    padding: 10px;
    transition-duration: 0.5s;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px #B2EA70;
}
